body{
	text-align: center;
}

#box{
	display:block;
	margin: 150px auto;
	color:#ffffff;
	border-radius: 10px;
	opacity: 0.6;
	background:red;
	width: 120px;
	height: 75px;
	transition: transform 2s, opacity 2s, background 2s, 
	width 2s, height 2s;
}

/*24 - Making Awesome Rollover Buttons*/
#box:hover{
	transform: rotate(360deg);
	opacity: 1;
	background: #1ec7e6;
	width: 450px;
	height: 110px;
}

/*#box{*/
	/*display: block;*/
/*	width: 500px;
	margin: 50px auto;
	padding:15px;
	text-align: center;
	border: 7px solid blue;
	background: yellow;
*/
	
	/*23 - Animating with Transitions*/
	/*transition: transform 2s;*/

	/*22 - Crazy Transformations*/
	/*outline:7px solid red;*/

	/*22 - Crazy Transformations*/
	/*transform:scale(-1,1);*/
	/*transform:rotate(45deg);*/
	/*transform:skew(30deg);*/
	/*transform:translate(150px,300px);*/
	/*transform:translate(100px,100px) rotate(30deg) scale(.8);*/

	/*21 - Text Shadows, Gradients, and Alpha*/
	/*background: -webkit-radial-gradient(center,circle,red 0%,orange 50%); 
	-webkit-linear-gradient(45deg,black,white); 
	-webkit-linear-gradient(top,black,white);
	border-radius:25px;
	box-shadow: rgba(110,110,110,.6) 10px 10px 10px;*/

/*}*/



/*23 - Animating with Transitions*/
/*#box:hover{
	transform:rotate(45deg);
}*/

/*22 - Crazy Transformations*/
/*#text{
	font:bold 30px Century Gothic;
	text-shadow: rgb(110,110,110) 3px 3px 5px;
}*/

